main, nav, header, footer {
    display: block;
}

body {
    background-image: url(/img/fondo_2.webp);
}

.principal {
	width: 1280px;
    background: rgb(127, 0, 18);
    background: linear-gradient(
        0deg,
        rgba(127, 0, 18, 1) 9%,
        rgba(14, 4, 2, 1) 58%
    );
    justify-content: center;
    align-items: center;
    margin: auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#logo-header, #logo-link {
    background-image: url(/img/logo-header.webp);
    background-repeat: no-repeat;
    background-position: center;
    text-indent: -9999999rem;
    padding: 3rem 0;
    background-color: rgba(14, 4, 2, 1);
}

ul, ol {
    list-style: none;
}

#navbar {
    position: sticky;
    top: 0;
    width: 100%;
    text-align: center;
    z-index: 1000;
    backdrop-filter: blur(45px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin: auto;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2rem;
}

:target::before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;
}

.nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
}

.burger-menu {
    display: none;
    font-size: 2rem;
    cursor: pointer;
  }

  :target::before {
    content: "";
    display: block;
    height: 80px;
    margin-top: -80px;
  }

.nav > li {
    position: relative;
}

.nav li a {
    color: aliceblue;
    text-decoration: none;
    padding: 0.625rem 0.937rem;
    display: block;
    text-align: center;
}

.nav li a:hover {
    background-color: gold;
    color: black;
}

.nav li ul {
    display: none;
    position: absolute;
    left: 0;
    min-width: 15rem;
    background-color: rgba(0, 0, 0, 0.301);
    backdrop-filter: blur(10px);
    margin: 0;
    padding: 0;
    border: none;
}

.nav li:hover > ul {
    display: block;
}

.nav li ul li {
    position: relative;
}

.nav li ul li ul {
    left: 100%;
    top: 0;
    margin-left: 0.03rem;
}

.nav li ul li:hover > ul {
    display: block;
}


h1, h2, h3, h4, h5 {
    color: aliceblue;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

p {
    font-family: "Barlow Condensed", sans-serif;
    font-size: 1.2rem;
    color: aliceblue;
}

.P-inicio {
    text-indent: 1rem;
    text-align: left;
    margin: 3rem;
}

.derechos {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
    text-align: center;
    font-size: 1rem;
}

p strong {
    color: rgb(255, 237, 132);
}

.hero {
    background-image: url("../img/banner.webp");
    background-size: cover;
    background-position: center;
    height: 38rem;
}

.heroplace {
    text-indent: -9999999px;
    margin: auto;
}


.neon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}

.neon-container picture {
    display: inline-block;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    animation: neon 1.5s infinite alternate;
    border-radius: 10px;
}

.neon-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

@keyframes neon {
    from {
        box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000,
            0 0 40px #ff0000;
    }
    to {
        box-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000,
            0 0 50px #ff0000;
    }
}

@keyframes neon {
    from {
        box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000,
            0 0 40px #ff0000;
    }
    to {
        box-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000,
            0 0 50px #ff0000;
    }
}


.neon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    text-align: center;
}

.neon-container picture {
    display: inline-block;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    animation: neon 1.5s infinite alternate;
    border-radius: 10px;
}

.neon-container img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 10px;
}

@keyframes neon {
    from {
        box-shadow: 0 0 5px #ff0000, 0 0 10px #ff0000, 0 0 20px #ff0000,
            0 0 40px #ff0000;
    }
    to {
        box-shadow: 0 0 20px #ff0000, 0 0 30px #ff0000, 0 0 40px #ff0000,
            0 0 50px #ff0000;
    }
}

figcaption {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 1rem;
    display: block;
    margin-top: 2rem;
    text-align: center;
    color: aliceblue;
}

.albumes-info {
    color: white;
    margin: auto;
    padding: 0 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    list-style: none;
    text-align: left;
}

.container-album, .EP-container {
    display: flex;
    justify-content: center;
    width: 100%;
}

.albumes-lista, .EP-lista, .lista-premios {
    color: white;
    padding: 0 15px;
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2rem;
    list-style: none;
    text-align: left;
    margin: 2rem;
}

.gif {
    margin: auto;
    display: flex;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.5);
    animation: neon 1.5s infinite alternate;
}

.video-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.albumes-lista {
    list-style: lower-roman;
}


/* FORMULARIO */


#form-container {
    font-family: "Barlow Condensed", sans-serif;
    background-color: #a86f56;
    padding: 2rem;
    border-radius: 0.625rem;
    box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
    width: 30rem;
    box-sizing: border-box;
    margin: auto;text-align: center;
  }

  .form-group {
    margin-bottom: 1rem;
  }
  
  .form-group span {
    display: block;
    margin-bottom: 1rem;
  }
  
  .form-group input[type="text"],
  .form-group input[type="tel"],
  .form-group input[type="email"],
  .form-group input[type="date"],
  .form-group input[type="file"],
  .form-group input[type="submit"] {
    width: 20rem; 
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 0.3rem;
  }

  .form-group input[type="file"] {
    border: none;
    color: aliceblue;
    font-size: 1rem;
  }

  
  .form-group input[type="submit"] {
    background-color: transparent;
    color: aliceblue;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-group input[type="submit"]:hover {
    background-color: #2c0909;
    color: gold;
  }
  
  .form-group input[type="checkbox"] {
    margin-right: 0.5rem;
  }
  
  label, span {
    color: #fff;
    font-size: 1.2rem;
  }

  .checkbox-group {
    text-align: left;
  }
  
  
  #button {
    display: block;
    width: 100%;
  }

/** FOOTER **/

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    backdrop-filter: blur(45px);
    box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25);
    font-family: "Bebas Neue", sans-serif;
    background-color: #ffffff31;
    padding: 20px;
    font-size: 2rem;
}

.footer-left {
    background-image: url("/img/logo-footer.webp");
    height: 120px;
    width: 134px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -99999px;
    margin-right: 100px;
}

.footer-center a:hover {
    color: rgb(255, 251, 0);
}

.footer-center ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
    display: flex;
}

.footer-center ul li {
    margin-right: 45px;
    text-align: center;
}

.footer-center ul li a {
    text-decoration: none;
    color: #fff;
}

.redes li {
    display: inline-block;
    text-decoration: none;
    color: #fff;
}

.footer-right a {
    margin-left: 10px;
}

.InstagramF, .FacebookF, .TwitterF, .TelegramF {
    height: 30px;
    width: 30px;
    display: flex;
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999999px;
}

.InstagramF {
    background-image: url("/img/instagram.webp");
}

.FacebookF {
    background-image: url("/img/facebook.webp");
}

.TwitterF {
    background-image: url("/img/gorjeo.webp");
}

.TelegramF {
    background-image: url("/img/telegrama.webp");
}


/*mediaquerys para resoluciones*/


@media screen and (max-width: 800px) {

    body {
        background: none;
        margin: 0;
    }

    .principal {
        width: 800px;
        background: rgb(127, 0, 18);
        background: linear-gradient(
            0deg,
            rgba(127, 0, 18, 1) 9%,
            rgba(14, 4, 2, 1) 58%
        );
        justify-content: center;
        align-items: center;
        margin: auto;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    }

    #logo-header, #logo-link {
     
        background-image: url(/img/logo-header_mediano.webp);
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -9999999rem;
        padding: 1.5rem 0;
        background-color: rgba(14, 4, 2, 1);
    }

    #navbar {
        font-size: 1.5rem;
    }

    .hero {
        background-image: url("../img/banner_mediano.webp");
        background-size: cover;
        background-position: center;
        height: 20rem;
    }

    .derechos {
        margin: 3rem;
      }


    .neon-container {

        width: 800px;
    }
    
    .footer {
        font-size: 1.5rem;
    }

    .footer-left {
        margin-right: 50px;
    }

}

@media screen and (max-width:480px) {

    #logo-header, #logo-link {
     
        background-image: url(/img/logo-header_chico.webp);
        background-repeat: no-repeat;
        background-position: center;
        text-indent: -9999999rem;
        padding: 1.5rem 0;
        background-color: rgba(14, 4, 2, 1);
    }

    p {
        font-size: 1rem;
    }

    h2 {
        font-size: 2rem;
    }
    
    h3 {
        font-size: 1.5rem;
    }
    
    h4 {
        font-size: 1.25rem;
    }
    
    h5 {
        font-size: 1.2rem;
    }

    body{
        background:none;
        margin:0;
    }
    
    .principal{
        width:480px;
        margin:auto;
        background: rgb(127, 0, 18);
        background: linear-gradient(
            0deg,
            rgba(127, 0, 18, 1) 9%,
            rgba(14, 4, 2, 1) 58%
        );
        border: none;
    }

    #navbar {
        font-size: 1.2em;
    }

    .nav li ul {
        min-width: 8rem;
    }
    

    .hero {
        background-image: url("../img/banner_chico.webp");
        background-size: cover;
        background-position: center;
        height: 15rem;
        margin: auto;
    }

    .galeria {
        display: none;
    }

    

    .neon-container {

        width: 480px;
    }

    #form-container {
        padding: 1rem;
        border-radius: 0.625rem;
        box-shadow: 0 0.25rem 0.5rem rgba(0, 0, 0, 0.1);
        width: 20rem;
      }

      .form-group input[type="text"],
      .form-group input[type="tel"],
      .form-group input[type="email"],
      .form-group input[type="date"],
      .form-group input[type="file"],
      .form-group input[type="submit"] {
        width: 15rem; 
      }

      label, span {
        font-size: 1rem;
      }


      .derechos {
        margin: 3rem;
      }

    .footer {
        display: flex;
        justify-content: space-between;
        color: #fff;
        backdrop-filter: blur(45px);
        box-shadow: 0px -5px 4px 0px rgba(0, 0, 0, 0.25);
        font-family: "Bebas Neue", sans-serif;
        background-color: #ffffff31;
        padding: 15px;
        font-size: 1.2rem;
    }
    
    .footer-left {
        background-image: url("/img/logo-footer.webp");
        height: 120px;
        width: 120px;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -99999px;
        margin-right: 50px;
    }
    
    .footer-center a:hover {
        color: rgb(255, 251, 0);
    }
    
    .footer-center ul {
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: center;
        display: block;
    }
    
    .footer-center ul li {
        margin-right: 35px;
        text-align: left;
    }
    
    .footer-center ul li a {
        text-decoration: none;
        color: #fff;
    }
    
    .redes li {
        display: inline-block;
        text-decoration: none;
        color: #fff;
    }
    
    .footer-right a {
        margin-left: 5px;
    }
    
    .InstagramF, .FacebookF, .TwitterF, .TelegramF {
        height: 20px;
        width: 20px;
        display: flex;
        background-size: contain;
        background-repeat: no-repeat;
        text-indent: -9999999px;
    }
    
    .InstagramF {
        background-image: url("/img/ig.webp");
    }
    
    .FacebookF {
        background-image: url("/img/fb.webp");
    }
    
    .TwitterF {
        background-image: url("/img/tw.webp");
    }
    
    .TelegramF {
        background-image: url("/img/telegram.webp");
    }
    
}
